@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

@layer base {
  html {
    font-family: vazir;
    scroll-behavior: smooth;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #e5e3e3;
  border-radius: 5px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 5px;
}

.active::after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
